<%= link_to 'New', new_club_path %>

<% @clubs.each do |club| %>
    <div>
      <h2><%= club.name %></h2>
      <p><%= club.description %></p>
      <%= link_to 'Edit', edit_club_path(club.id) %>
      <%= link_to 'Show', club_path(club.id) %>
    </div>
<% end %>